<configuration>
    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>Asia/Seoul</timeZone>
                </timestamp>
                <pattern>
                    {"timestamp": "%d{yyyy-MM-dd'T'HH:mm:ss.SSS, Asia/Seoul}", "level": "%level", "thread": "%thread", "logger": "%logger", "message": "%message", "context": "be-user"}
                </pattern>
            </providers>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="JSON" />
    </root>
</configuration>
